@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {

    /* colors */

    --bg-soft-violet: hsl(273, 75%, 66%);
    --bg-soft-blue: hsl(240, 73%, 65%);

    --text-primary-blue: hsl(238, 29%, 16%);
    --text-primary-red: hsl(14, 88%, 65%);
    --text-very-dark-blue: hsl(237, 12%, 33%);
    --text-dark-blue: hsl(240, 6%, 50%);

    --divider-clr: hsl(240, 5%, 91%);
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    background: linear-gradient(
        var(--bg-soft-violet),
        var(--bg-soft-blue));
    font-family: 'Kumbh Sans';
    padding: 2em;
    font-size: clamp(.825rem, 3vw, 1rem);
}

main {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2em;
    padding-inline: 2em;
    background-image: url('images/bg-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 75%;
    max-width: 25rem;
    width: 100%;
    margin: 7em 0 0;
    padding: 2em 2em 1em;
}

.image {
    position: absolute;
    height: 0;
    max-width: 60%;
}

.box, .desktopimg {
    display: none;
}

.mobileimg {
    width: 100%;
    transform: translateY(-70%);
}

.text {
    padding-top: 8em;
}

.text h1 {
    text-align: center;
    margin-bottom: .5em;
}

.accordion {
    margin-bottom: 1em;
}

.accordion-container {
    border-bottom: 2px solid var(--divider-clr);
    padding-block: .5em;
}

.accordion-question:hover {
    color: var(--text-primary-red);
}

button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    background-color: inherit;
    border: 0;
    font-size: inherit;
    font-family: inherit;
    padding-block: .5em;
    cursor: pointer;
}

button:hover {
    color: var(--text-primary-red);
}

.accordion-question p {
    margin-right: 1em;
}

.accordion-answer {
    height: 0;
    padding: 0 1.8em 0 0;
    overflow: hidden;
    transition: 100ms;
}

.showanswer {
    height: auto;
}

.boldtxt {
    font-weight: 700;
}

.boldtxt img {
    transform: rotate(180deg);
}

@media (min-width: 55em) {

    body {
        font-size: 1rem;
    }

    main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 55em;
        padding: 1em 0 0;
        margin-block: 0;
        margin-inline: 6em;
        background-image: url(images/bg-pattern-desktop.svg);
        background-position: -70px -40px;
        background-size: contain;
        background-attachment: fixed;
    }

    .image {
        grid-column: 1/2;
        overflow: hidden;
        height: auto;
    }

    .desktopimg {
        display: block;
        transform: translateX(-15%);
        width: 90%;
    }

    .box {
        display: block;
        z-index: 1;
        transform: translate(-48%, 25%);
    }

    .mobileimg {
        display: none;
    }


    .text {
        grid-column: 2/3;
        padding: 4em 2em;
    }

    .text h1 {
        text-align: left;
    }
}
